# Ignora Arquivos
#*.*                 export-ignore

# Ignora Pastas
#/*                  export-ignore

# exclude .gitignore and similar from the generated tarball
.git*               export-ignore

# Ignora a Pasta
/ftp_action/        export-ignore
